<h1>Mon Ami</h1>
<p>Welcome to Mon Ami. Make an account or sign in to begin connecting you and your children to eager friends and play-mates from your area</p>



<!-- <img src="https://i.redditmedia.com/bNm8hURg6vzrI8IK20wxNUAHo_uGrmEYy5-R4sBA_Ms.jpg?w=960&s=080ba633ab71941415476b1e82164abf"> -->
<app-new-user [newUser]="newUser"(newUserSender)="saveNewUser($event)"></app-new-user>
<button (click)="addNewUser()">Sign up</button>
<h1>Local Users</h1>
<div class="well" *ngFor="let user of users">
  <h3 (click)="goToProfile(user)">{{user.username}}</h3>
  <p>{{user.age}}/{{user.gender}}/{{user.location}}</p>
  <ul>
    <li *ngFor="let child of user.children">{{child.age}}/{{child.gender}}</li>
  </ul>
</div>
<!-- after firebase we will generate a list here for local users -->
<!--  -->
